Non-ASCII characters in episode slug

Currently, non-ASCII characters in the episode slug are silently transliterated during html generation using iconv. This breaks theoretically working file names with characters like 'ü' or 'ß'. As an example, 'Füße' is currently silently transliterated to 'F??e'.

This is done in \Podlove\slugify (lib/helper.php):

``` php
function slugify( $text ) {
// replace everything but unreserved characters (RFC 3986 section 2.3) by a hyphen
$text = preg_replace( '~[^\\pL\d_\.\~]~u', '-', $text );

// transliterate
$text = iconv( 'utf-8', 'us-ascii//TRANSLIT', $text );

return empty( $text ) ? 'n-a' : $text;
}
```

I would argue this is not necessary since unreserved characters could be url encoded instead:

``` php
function slugify( $text ) {
// replace everything but unreserved characters (RFC 3986 section 2.3) by a hyphen
$text = preg_replace( '~[^\\pL\d_\.\~]~u', '-', $text );

// url encode
$text = urlencode( $text );

return empty( $text ) ? 'n-a' : $text;
}
```

Either way, users should either expect non-ASCII characters to work when the availability check succeeds or receive a warning about forbidden characters.
